@import url('https://fonts.googleapis.com/css?family=Changa');

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1{
    font-size: 45px;
    font-weight: bold;
    color: ghostwhite;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
h3 {
    font-size: 1.9em;
    font-weight: bold;
    color: ghostwhite;
    padding: 25px;
    line-height: 1.6em;
}
body{
    font-family: 'Changa', sans-serif;
    width: 100%;
    background: #242424;
}
.container{ 
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
button{
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: ghostwhite;
    border: none;
    font-size: 2em;
    width: 9em;
    height: 2.5em;
    margin: 5px;
    background: #1C60AB
}

span{
    display: block;
    padding: 0.4em 0.2em;
}
button::before, button::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: ghostwhite;
}

span::before, span::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: ghostwhite;
}
button:hover::before, button:hover::after{
    width: 100%;
}
button:hover span::before, button:hover span::after{
    height: 100%;
}

.btn-1::before, .btn-1::after{
    transition-delay: 0s;
}
.btn-1 span::before, .btn-1 span::after{
    transition-delay: 0.2s;
}
.btn-1::before{
    left: 0;
    top: 0;
}
.btn-1::after{
    right: 0;
    bottom: 0;
}
.btn-1 span::before{
    right: 0;
    top: 0;
}
.btn-1 span::after{
    left: 0;
    bottom: 0;
}
.btn-1:hover::before, .btn-1:hover::after{
    transition-delay: 0.2s;
}
.btn-1:hover span::before, .btn-1:hover span::after{
    transition-delay: 0s;
}
